<%- include('partials/header.ejs') %> <%- include('partials/homenavbar.ejs') %>
<body>
  <div class="container">
    <hr />
    <div class="jumbotron">
      <h1 class="display-4">Olá meu nome é Michelle!</h1>
      <p class="lead">
        Este é um blog tem como objetivo ajudar as pessoas a entender o
        marketing digital.
      </p>
      <hr class="my-4" />
      <p>Descrição detalhada aqui.</p>
      <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    <% articles.forEach(article=>{ %>
    <div class="card">
      <div class="card-header"><h2><%= article.title %></h2></div>
      <div class="card-body">
        <a href="/<%= article.slug %>" class="btn btn-success"> Ler artigo</a>
      </div>
    </div>
    <br />
    <% }) %>
    <div class="row" style="float: right">
      <div class="col col-12"><a href="/articles/page/2">Next>>></a></div>
      <hr />
    </div>
    <hr />
  </div>
</body>

<%- include ('partials/footer.ejs'); %>
